<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Of Bookings</title>
  </head>
  <body>
    {% extends 'header.html' %} {% block container %}
    <h2>List Of Bookings</h2>
    
    <table>
      <tr>
        <th>Order Number</th>
        <th>Order Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Pincode</th>
        
      </tr>
      {% for booking in c_bookings %}
      <tr>
        <td>{{ booking.ordernumber}}</td>
        <td>{{ booking.orderdate }}</td>
        <td>{{ booking.first_name }}</td>
        <td>{{ booking.last_name}}</td>
        <td>{{ booking.address}}</td>
        <td>{{ booking.City }}</td>
        <td>{{ booking.pincode }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endblock %}
  </body>
</html>
